<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <title>Bashir-web!</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light  nav-custom-bg">
      <a class="navbar-brand" href="#"><img id="logo" src="../img/logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link nav-item" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bashir">Bashir</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/saifur">Saifur</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/hellal">Hellal</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="/mamun">Mamun</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="/anowar">Anowar</a>
          </li>
          
        </ul>
      </div>
    </nav>


   
    <div class="left-side"></div>
    <div class="right-side"></div>
    
    

